.metadata
BluetoothTest
DrawrServer
Grimoire
KittyPaint
libraries
LegoServer
NPCQuest
PixelPets
screenshots
Semaphores
UDPClient
UDPServer
/SpherlyServer/bin
/JavaWebSocket/bin


# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
